<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>shop</servlet-name>
        <servlet-class>internetshop.controller.ShopController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>shop</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>allUsers</servlet-name>
        <servlet-class>internetshop.controller.GetAllUsersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>allUsers</servlet-name>
        <url-pattern>/servlet/getAllUsers</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>registration</servlet-name>
        <servlet-class>internetshop.controller.RegistrationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/servlet/registration</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteUser</servlet-name>
        <servlet-class>internetshop.controller.DeleteUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteUser</servlet-name>
        <url-pattern>/servlet/deleteUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addItems</servlet-name>
        <servlet-class>internetshop.controller.AddItemController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addItems</servlet-name>
        <url-pattern>/servlet/item</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>allItems</servlet-name>
        <servlet-class>internetshop.controller.GetAllItemsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>allItems</servlet-name>
        <url-pattern>/servlet/allItems</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteItem</servlet-name>
        <servlet-class>internetshop.controller.DeleteItemController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteItem</servlet-name>
        <url-pattern>/servlet/deleteItem</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addBucket</servlet-name>
        <servlet-class>internetshop.controller.AddItemToBucketController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addBucket</servlet-name>
        <url-pattern>/servlet/bucket</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteBucket</servlet-name>
        <servlet-class>internetshop.controller.DeleteItemFromBucketController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteBucket</servlet-name>
        <url-pattern>/servlet/deleteBucket</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>order</servlet-name>
        <servlet-class>internetshop.controller.CompleteOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>order</servlet-name>
        <url-pattern>/servlet/order</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>internetshop.controller.InjectInitializer</listener-class>
    </listener>


</web-app>
